/*
Name: Anthony Liang
Date: 12/17/2023
Email: anthony_liang@student.uml.edu
*/

/* main container to hold everything */

* {
  font-family: "Roboto", sans-serif;
  background-color: burlywood;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#holder {
  display: flex;
  flex-direction: row;
}
/* display user tiles as flex row to make it a row 
  uses the tile holder as background for the div
*/
#user-tiles {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  width: 700px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url("../assets/misc/scrabble-tile-holder-406774_640.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* styling for the regular 1 point tiles */
.reg-score-tile {
  background-image: url(../assets/game_tiles/blank_space_tile.png);
  width: 80px;
  height: 85px;
  border-width: 1px;
  box-shadow: 10px 10px 20px lightgreen;
}
/* styling for the double points tiles */
.double-score-tile {
  background-image: url(../assets/game_tiles/double_score_tile.png);
  width: 80px;
  height: 85px;
  border-width: 1px;
  box-shadow: 10px 10px 20px red;
}

#next-set-btn,
#restart-game-btn {
  border-radius: 6px;
  border: 1px solid black;
  margin-top: 1em;
  width: 100px;
  height: 30px;
  box-shadow: 7px 5px 15px black;
}
